@import 'tailwindcss';
@tailwind utilities;

:root {
    --brown: #372426;
    --beige: #fbf2e9;
    --beigeAccent: #efe1d4;
    --beigeAccent2: #d8c3b0;
    --yellow: #ffedb8;
    --bordo: #65141b;
}

@theme inline {
    --color-brown: var(--brown);
    --color-beige: var(--beige);
    --color-beigeAccent: var(--beigeAccent);
    --color-beigeAccent2: var(--beigeAccent2);
    --color-yellow: var(--yellow);
    --color-bordo: var(--bordo);

    --font-instrumentSerif: var(--font-instrument-serif);
    --font-hostGrotesk: var(--font-host-grotesk);
}

html {
    font-family: var(--font-instrument-serif);
}

body {
    background-color: var(--beige);
}

h1 {
    @apply text-6xl;
}
